h1{
    font-size: 40px;
    color: lightsalmon;
    font-style: italic;
    font-family: 'Dosis', sans-serif;;
} 

h2{
    font-size: 40px;
    color: lightsalmon;
    font-style: italic;
    font-family: 'Dosis', sans-serif;;
}
h3{
    font-size: 40px;
    color: lightsalmon;
    font-style: italic;
    font-family: 'Dosis', sans-serif;;
}
p{
    font-size: 20px;
    color:blue;
    font-family: 'Dosis', sans-serif;
    line-height:  20px;
}
body{
    background-color: azure;
}

.button-links {
    border-style: solid;
    border-color: crimson;
    background-color: bisque;
    border-width: 2px;
    text-decoration: none;
    color: black;
}