header{
    font-size: 100px;
    color: aqua;
    font-style: italic;
    font-family: 'Dosis', sans-serif;;
}
h1{
    font-size: 40px;
    color: lightsalmon;
    font-style: italic;
    font-family: 'Dosis', sans-serif;;
} 

h2{
    font-size: 40px;
    color: lightsalmon;
    font-style: italic;
    font-family: 'Dosis', sans-serif;;
}
h3{
    font-size: 40px;
    color: lightsalmon;
    font-style: italic;
    font-family: 'Dosis', sans-serif;;
}
p{
    font-size: 20px;
    color:blue;
    font-family: 'Dosis', sans-serif;
    line-height:  27px;
}
body{
    background-color: azure;
}

.button-link {
    border-style: solid;
    border-color: crimson;
    background-color: rgb(228, 255, 148);
    border-width: 1px;
    text-decoration: none;
    color: black;   
    border-radius: 8px;
    display: block;
    width: 200px;
    text-align: center;
    margin-top: 20px;
}
.button-alert {
    border-style: double;
    border-color: rgb(255, 196, 0);
    background-color: rgb(81, 238, 255);
    border-width: 10px;
    text-decoration: none;
    color: black;   
    border-radius: 7px;
    display: block;
    width: 203px;
    text-align: center;
    margin-top: 20px;
}

.top-banner{
    height: 150px;
    text-align: center;
    padding-top: 110px;
    background-color: blueviolet;
}

.main-content{
    width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

footer{
    height: 100px;
    text-align: center;
    padding: 10px 0;
}